.home-container{
    background-image: url('https://t4.ftcdn.net/jpg/03/45/88/07/360_F_345880772_zIT2mkdCzTthplO7xqaGGrMspN0jw0ll.jpg');
    background-size: 100%;
    max-width: 100%;
    background-repeat: no-repeat;
}
.header-text{
    padding: 20%;
}
.product-card{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
.product-container{
    grid-template-columns: 2fr 2fr;
}
.quiz{
    border: 1px solid red;
}